@page "/products/update/{productId}"
@model ProductsPage
@inject IAntiforgery antiforgery
@{
     ViewData["Title"] = "Update Product";
     var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;

     ViewData["Breadcrumbs"] = "Products/Update";
}

@section Scripts{
    <script type="text/javascript">
    jQuery(document).on('click', '.number-spinner button', function () {    
        var btn = $(this),
            oldValue = btn.closest('.number-spinner').find('input').val().trim(),
            newVal = 0;
        
        if (btn.attr('data-dir') == 'up') {
            newVal = parseInt(oldValue) + 1;
        } else {
            if (oldValue > 1) {
                newVal = parseInt(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        btn.closest('.number-spinner').find('input').val(newVal);
    });

    jQuery("#btnUpdateProduct").click(function(){
        var productName = jQuery("#txtProductName").val();
        var description = jQuery("#txtDescription").val();
        var qty = jQuery("#txtQty").val();
        var price = jQuery("#txtPrice").val();
        var categoryId = jQuery("#selectCategory").val();
        var sellerId = jQuery("#selectSeller").val();
        jQuery.post("/products?handler=updateProduct", {
            productId: "@Model.RouteData.Values["productId"]",
            productName:productName,
            description:description,
            qty:qty,
            price:price,
            categoryId:categoryId,
            sellerId:sellerId,
            __RequestVerificationToken: '@token'

        }, function(json){
            if( "error" in json ){
                
            }
            else{
                location.href = "/products?updated";
            }
        });
    });
    
</script>
}

 
        <div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Products</h1>
                        <p class="text-muted">Update product</p>
                        <p class="small"><span class="text-muted">Added on:</span><span class="text-black-50">@Model.product.Added</span></p>
                        <div class="input-group mb-3">
                            <input value="@Model.product.name" class="form-control" id="txtProductName" type="text" placeholder="Product Name">
                        </div>
                        <div class="input-group mb-3">
                            <textarea placeholder="Description" class="form-control" style="resize: none;" id="txtDescription" rows="5">@Model.product.description</textarea>
                        </div>
                        <div class="input-group mb-3 number-spinner">
                            <label class="text-muted mr-3 col-form-label" for="text-input">Quantity</label>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-outline-secondary" data-dir="dwn"><span class="fa fa-minus"></span></button>
                                </span>
                                <input id="txtQty" type="text" class="form-control text-center" value="@Model.product.qty">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-outline-secondary" data-dir="up"><span class="fa fa-plus"></span></button>
                                </span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                            <input value="@Model.product.price" class="form-control" id="txtPrice" type="text" placeholder="Price">
                        </div>
                        <div class="input-group mb-3">
                            <label class="text-muted mr-3 col-form-label" for="select1">Category</label>
                            <div class="">
                                <select class="form-control" id="selectCategory" name="select1">
                                    <option value="0">Please select</option>
                                    @foreach (var category in Model.categories)
                                    {
                                        if( category.Id == Model.product.category.Id ){
                                        <option selected value="@category.Id">@category.categoryName</option>
                                        }
                                        else{
                                        <option value="@category.Id">@category.categoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="text-muted mr-3 col-form-label" for="select1">Seller</label>
                            <div class="">
                                <select class="form-control" id="selectSeller" name="select1">
                                    <option value="0">Please select</option>
                                    @foreach (var seller in Model.users)
                                    {
                                        if( seller.id == Model.product.seller.id ){
                                            <option selected value="@seller.id">@seller.lastname, @seller.firstname (@seller.email)</option>
                                        }
                                        else{
                                            <option value="@seller.id">@seller.lastname, @seller.firstname (@seller.email)</option>
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">Please provide a valid informations.</div>
                            </div>
                        </div>
                        
                        <button id="btnUpdateProduct" class="btn btn-primary btn-pill" type="button">Update Product</button>
                        <button onclick="location.href='/products';" id="btnUpdateProduct" class="btn btn-outline-primary btn-pill" type="button">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

